{
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
plex.{$MY_DOMAIN} {
    reverse_proxy plex:32400
}

nzbget.{$MY_DOMAIN} {
    reverse_proxy nzbget:6789
}

sabnzbd.{$MY_DOMAIN} {
    reverse_proxy sabnzbd:8080
}

sonarr.{$MY_DOMAIN} {
    reverse_proxy sonarr:8989
}

radarr.{$MY_DOMAIN} {
    reverse_proxy radarr:7878
}

hydra.{$MY_DOMAIN} {
reverse_proxy hydra:5076
}

ombi.{$MY_DOMAIN} {
    reverse_proxy ombi:5000
}


