{
    admin :2019
}

{
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

###internal
http://frigate.elightcap.internal, http://frigate/ {
    log {
        format json
    }
    reverse_proxy 10.0.70.9:5000
}

http://rutorrent.elightcap.internal, http://rutorrent/ {
    reverse_proxy 10.0.60.6:8080
}

http://homepage.elightcap.internal {
    reverse_proxy 10.0.60.6:3000
}

http://transmission.elightcap.internal {
    reverse_proxy 10.0.60.6:9091
}

http://stash.elightcap.internal, http://stash/ {
    reverse_proxy 10.0.60.6:9999
}
###external

gitlab.elightcap.com {
    reverse_proxy usclel-sat001.elightcap.internal:80
}

seerr.elightcap.com {
    reverse_proxy usclel-med001.elightcap.internal:5055
}

photo.{$MY_DOMAIN} {
    reverse_proxy usclel-med001.elightcap.internal:2342
}

matrix.{$MY_DOMAIN} {
    reverse_proxy usclel-sat001.elightcap.internal:8008 {
        header_up X-Forwarded-For {http.request.remote}
#        header_up X-Forwarded-Port {http.request.port}
        header_up X-Forwarded-Proto {http.request.scheme}
    }
}

stream.{$MY_DOMAIN} {
    root * /data/stream
    file_server
}

hiring.{$MY_DOMAIN} {
    reverse_proxy 192.168.1.108:8081
}

http://vpn.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/vpncaddy.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy 6.6.6.197:80
}


stationeers.{$MY_DOMAIN} {
    reverse_proxy stationeers:27016
}

ldap.{$MY_DOMAIN} {
    @oktaverify {
        header !x-okta-verification-challenge
    }
    handle {
        #var {
        #    oktaverifyheadervalue {http.request.header.x-okta-verification-challenge}
        #}
        respond / \{"verification":"{http.request.header.x-okta-verification-challenge}"\}
    }
}

mm.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/mmcaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy usclel-sat001.elightcap.internal:8065
}

hass.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/liddarcaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy 10.0.60.12:8123
}

lidarr.{$MY_DOMAIN} {
    log { 
        output file /var/log/caddy/liddarcaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy lidarr:8686
}

sabnzbd.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/sabcaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy sabnzbd:8080
}

deluge.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/delugecaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy deluge:8112
}

sonarr.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/sonarrcaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy sonarr:8989
}

radarr.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/radarrcaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy radarr:7878
}

hydra.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/hydracaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy hydra:5076
}

ombi.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/ombicaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy ombi:3579
}

jellyfin.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/jellyfincaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy jellyfin:8096
}

octopi.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/octopicaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy 6.6.6.118
}

blueiris.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/blueiriscaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy 6.6.6.6:81
}

guacamole.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/guaccaddy.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy guacamole:8080
}

readarr.{$MY_DOMAIN} {
    log {
        output file /var/log/caddy/readarrcaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy readarr:8787
}

recipe.elightcap.com {
    log {
        output file /var/log/caddy/recipecaddylogs.json {
            roll_size 2MiB
        }
        format console
    }
    reverse_proxy tandoor_nginx_recipes_1:80
}

slack.{$MY_DOMAIN} {
    reverse_proxy 6.6.6.118:3001
}

oktabot.{$MY_DOMAIN} {
    reverse_proxy 6.6.6.118:3002
}
